//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #3b81d1;

::placeholder, .css-1nxvan4-placeholder, .ant-select-selection-placeholder{
    font-size: small;
}
.dropdown-menu .dropdown-menu-right {
    z-index: 999 !important;
}

.fc-toolbar-title, .fc-col-header-cell-cushion  { text-transform: capitalize; }

.inline-flex{
    display: inline-flex !important;
    margin: .5em !important;
}
.border-danger div{
    border: 0;
}

.navigation {
    font-size: .9rem;
}


.center-fallback {
    position: absolute;
    top: 50%;
    right:50%;
    transform: translate(-50%, -50%);
}
